# Pushcache object store configuration (local MinIO defaults)
PUSHCACHE_AWS_ACCESS_KEY_ID=minioadmin
PUSHCACHE_AWS_SECRET_ACCESS_KEY=minioadmin
PUSHCACHE_AWS_BUCKET_NAME=frontend
PUSHCACHE_AWS_REGION=us-west-2
PUSHCACHE_AWS_ENDPOINT=minio-service.minio-env.svc.cluster.local
PUSHCACHE_AWS_PORT=9000
