apiVersion: cloud.redhat.com/v1alpha1
kind: FrontendEnvironment
metadata:
  name: env-boot
spec:
  sso: https://env-boot-auth/auth/
  enablePushCache: true
  pushCacheBucket: frontend
  enableReverseProxy: true
  reverseProxyImage: quay.io/redhatinsights/frontend-asset-proxy:latest
  reverseProxySPAEntrypointPath: /index.html
  reverseProxyLogLevel: DEBUG
  targetNamespaces:
    - feo-testing
  monitoring:
    mode: "local"
    disabled: false
  serviceCategories:
    - id: automation
      title: Automation
      groups:
        - id: ansible
          title: Ansible
        - id: rhel
          title: Red Hat Enterprise Linux
    - id: iam
      title: Identity and Access Management
      groups:
        - id: iam
          title: IAM
  bundles:
  #  - id: rhel
  #    title: Red Hat Enterprise Linux
  #  - id: ansible
  #    title: Ansible
  #  - id: settings
  #    title: Settings
  #  - id: insights
  #    title: Red Hat Enterprise Linux
    - id: segmented-bundle
      title: Segmented bundle
      description: ""
