{
    {$CADDY_TLS_MODE}
    auto_https disable_redirects
    servers {
        metrics
    }
}

:9000 {
    metrics /metrics
}

:8000 {
    {$CADDY_TLS_CERT}
    header -Vary
    log

    # Handle main app route
    @app_match {
        path ${ROUTE_PATH}*
    }
    handle @app_match {
        uri strip_prefix ${ROUTE_PATH}
        file_server * {
            root /srv/${OUTPUT_DIR}
            browse
        }
    }

    handle / {
        redir /apps/chrome/index.html permanent
    }
}
