---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: bundles.cloud.redhat.com
spec:
  group: cloud.redhat.com
  names:
    kind: Bundle
    listKind: BundleList
    plural: bundles
    singular: bundle
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Bundle is the Schema for the Bundles API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: BundleSpec defines the desired state of Bundle
            properties:
              appList:
                items:
                  type: string
                type: array
              customNav:
                items:
                  properties:
                    appId:
                      type: string
                    bundleSegmentRef:
                      type: string
                    expandable:
                      type: boolean
                    frontendRef:
                      type: string
                    groupId:
                      type: string
                    href:
                      type: string
                    icon:
                      type: string
                    id:
                      type: string
                    isBeta:
                      type: boolean
                    isExternal:
                      type: boolean
                    isHidden:
                      type: boolean
                    navItems:
                      description: kubebuilder struggles validating recursive fields,
                        it has to be helped a bit
                      x-kubernetes-preserve-unknown-fields: true
                    notifier:
                      type: string
                    permissions:
                      items:
                        properties:
                          apps:
                            items:
                              type: string
                            type: array
                          args:
                            x-kubernetes-preserve-unknown-fields: true
                          method:
                            type: string
                        required:
                        - method
                        type: object
                      type: array
                    position:
                      description: Position argument inherited from the segment, needed
                        for smooth transition between old a new system and for proper
                        developer experience
                      type: integer
                    product:
                      type: string
                    routes:
                      x-kubernetes-preserve-unknown-fields: true
                    segmentRef:
                      properties:
                        frontendName:
                          type: string
                        segmentId:
                          type: string
                      required:
                      - frontendName
                      - segmentId
                      type: object
                    title:
                      type: string
                  type: object
                type: array
              envName:
                type: string
              extraNavItems:
                items:
                  properties:
                    name:
                      type: string
                    navItem:
                      properties:
                        appId:
                          type: string
                        bundleSegmentRef:
                          type: string
                        expandable:
                          type: boolean
                        frontendRef:
                          type: string
                        groupId:
                          type: string
                        href:
                          type: string
                        icon:
                          type: string
                        id:
                          type: string
                        isBeta:
                          type: boolean
                        isExternal:
                          type: boolean
                        isHidden:
                          type: boolean
                        navItems:
                          description: kubebuilder struggles validating recursive
                            fields, it has to be helped a bit
                          x-kubernetes-preserve-unknown-fields: true
                        notifier:
                          type: string
                        permissions:
                          items:
                            properties:
                              apps:
                                items:
                                  type: string
                                type: array
                              args:
                                x-kubernetes-preserve-unknown-fields: true
                              method:
                                type: string
                            required:
                            - method
                            type: object
                          type: array
                        position:
                          description: Position argument inherited from the segment,
                            needed for smooth transition between old a new system
                            and for proper developer experience
                          type: integer
                        product:
                          type: string
                        routes:
                          x-kubernetes-preserve-unknown-fields: true
                        segmentRef:
                          properties:
                            frontendName:
                              type: string
                            segmentId:
                              type: string
                          required:
                          - frontendName
                          - segmentId
                          type: object
                        title:
                          type: string
                      type: object
                  required:
                  - name
                  - navItem
                  type: object
                type: array
              id:
                description: Foo is an example field of Bundle. Edit Bundle_types.go
                  to remove/update
                type: string
              title:
                type: string
            required:
            - id
            type: object
          status:
            description: BundleStatus defines the observed state of Bundle
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
