---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: frontendenvironments.cloud.redhat.com
spec:
  group: cloud.redhat.com
  names:
    kind: FrontendEnvironment
    listKind: FrontendEnvironmentList
    plural: frontendenvironments
    shortNames:
    - feenv
    singular: frontendenvironment
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.targetNamespace
      name: Namespace
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FrontendEnvironment is the Schema for the FrontendEnvironments
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FrontendEnvironmentSpec defines the desired state of FrontendEnvironment
            properties:
              akamaiCacheBustImage:
                description: Set Akamai Cache Bust Image
                type: string
              akamaiCacheBustURL:
                description: |-
                  Deprecated: Users should move to AkamaiCacheBustURLs
                  Preserving for backwards compatibility
                type: string
              akamaiCacheBustURLs:
                description: Set Akamai Cache Bust URL that the files will hang off
                  of
                items:
                  type: string
                type: array
              akamaiSecretName:
                description: The name of the secret we will use to get the akamai
                  credentials
                type: string
              bundles:
                description: For the ChromeUI to render navigation bundles
                items:
                  description: |-
                    FrontendBundles defines the bundles specific to an environment that will be used to
                    construct navigation
                  properties:
                    description:
                      type: string
                    id:
                      type: string
                    title:
                      type: string
                  required:
                  - id
                  - title
                  type: object
                type: array
              defaultReplicas:
                format: int32
                type: integer
              enableAkamaiCacheBust:
                description: Enable Akamai Cache Bust
                type: boolean
              enablePushCache:
                description: Enable Push Cache Container
                type: boolean
              enableReverseProxy:
                description: Enable Reverse Proxy Container
                type: boolean
              generateNavJSON:
                description: |-
                  GenerateNavJSON determines if the nav json configmap
                  parts should be generated for the bundles. We want to do
                  do this in epehemeral environments but not in production
                type: boolean
              hostname:
                description: Hostname
                type: string
              httpHeaders:
                additionalProperties:
                  type: string
                description: |-
                  Custom HTTP Headers
                  These populate an ENV var that is then added into the caddy config as a header block
                type: object
              ingressAnnotations:
                additionalProperties:
                  type: string
                description: |-
                  Ingress annotations
                  These annotations will be applied to the ingress objects created by the frontend
                type: object
              ingressClass:
                description: Ingress class
                type: string
              limits:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: ResourceList is a set of (resource name, quantity) pairs.
                type: object
              monitoring:
                description: |-
                  MonitorMode determines where a ServiceMonitor object will be placed
                  local will add it to the frontend's namespace
                  app-interface will add it to "openshift-customer-monitoring"
                properties:
                  disabled:
                    type: boolean
                  mode:
                    enum:
                    - local
                    - app-interface
                    type: string
                required:
                - disabled
                - mode
                type: object
              overwriteCaddyConfig:
                description: |-
                  OverwriteCaddyConfig determines if the operator should overwrite
                  frontend container Caddyfiles with a common core Caddyfile
                type: boolean
              pushCacheBucket:
                description: S3 Push Cache Bucket
                type: string
              requests:
                additionalProperties:
                  anyOf:
                  - type: integer
                  - type: string
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                description: ResourceList is a set of (resource name, quantity) pairs.
                type: object
              reverseProxyBucketPathPrefix:
                description: Bucket path prefix for reverse proxy
                type: string
              reverseProxyImage:
                description: Reverse Proxy Container Image
                type: string
              reverseProxyLogLevel:
                description: Log level for reverse proxy
                type: string
              reverseProxyMinioUpstreamURL:
                description: Minio/S3 upstream URL for reverse proxy
                type: string
              reverseProxySPAEntrypointPath:
                description: SPA entrypoint path for reverse proxy
                type: string
              serviceCategories:
                description: For the ChromeUI to render additional global components
                items:
                  description: |-
                    FrontendServiceCategory defines the category to which service can inject ServiceTiles
                    Chroming UI will use this to render the service dropdown component
                  properties:
                    groups:
                      items:
                        properties:
                          id:
                            type: string
                          title:
                            type: string
                        required:
                        - id
                        - title
                        type: object
                      minItems: 1
                      type: array
                    id:
                      type: string
                    title:
                      type: string
                  required:
                  - groups
                  - id
                  - title
                  type: object
                type: array
              ssl:
                description: |-
                  SSL mode requests SSL from the services in openshift and k8s and then applies them to the
                  pod, the route is also set to reencrypt in the case of OpenShift
                type: boolean
              sso:
                description: Foo is an example field of FrontendEnvironment. Edit
                  FrontendEnvironment_types.go to remove/update
                type: string
              targetNamespaces:
                description: |-
                  List of namespaces that should receive a copy of the frontend configuration as a config map
                  By configurations we mean the fed-modules.json, navigation files, etc.
                items:
                  type: string
                type: array
              whitelist:
                description: Whitelist CIDRs
                items:
                  type: string
                type: array
            required:
            - sso
            type: object
          status:
            description: FrontendEnvironmentStatus defines the observed state of FrontendEnvironment
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
