---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: frontendenvironments.cloud.redhat.com
spec:
  group: cloud.redhat.com
  names:
    kind: FrontendEnvironment
    listKind: FrontendEnvironmentList
    plural: frontendenvironments
    shortNames:
    - feenv
    singular: frontendenvironment
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.targetNamespace
      name: Namespace
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FrontendEnvironment is the Schema for the FrontendEnvironments
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FrontendEnvironmentSpec defines the desired state of FrontendEnvironment
            properties:
              generateChromeConfig:
                description: GenerateChromeConfig determines if a chrome configmap
                  will be generated If empty or false the chrome nav config in the
                  chrome container will be used If true a configmap will be generated
                  and mounted into the chrome container
                type: boolean
              hostname:
                description: Hostname
                type: string
              ingressClass:
                description: Ingress class
                type: string
              monitoring:
                description: MonitorMode determines where a ServiceMonitor object
                  will be placed local will add it to the frontend's namespace app-interface
                  will add it to "openshift-customer-monitoring"
                properties:
                  disabled:
                    type: boolean
                  mode:
                    enum:
                    - local
                    - app-interface
                    type: string
                required:
                - disabled
                - mode
                type: object
              ssl:
                description: SSL mode requests SSL from the services in openshift
                  and k8s and then applies them to the pod, the route is also set
                  to reencrypt in the case of OpenShift
                type: boolean
              sso:
                description: Foo is an example field of FrontendEnvironment. Edit
                  FrontendEnvironment_types.go to remove/update
                type: string
              whitelist:
                description: Whitelist CIDRs
                items:
                  type: string
                type: array
            required:
            - sso
            type: object
          status:
            description: FrontendEnvironmentStatus defines the observed state of FrontendEnvironment
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
